*{
	margin: 0px;
	padding: 0px;
}
.ss_body_wrapper{
	width: 100%;
	position: relative;
}
h1,h2,h5{
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
}
#about{
	background-color: black;

}
.media-body{
	/*font-family: sans-serif;*/
    /*font-weight: 400;*/
    /*font-style: bold;*/
    color: white;
    text-align: center;
}
.media-body > p{
	font-family: sans-serif;
    font-weight: 400;
    font-style: bold;
    color: white;
    text-align: right;
}
.about-txt{
	padding: 10% 0;
	text-align: center;
	color: white;

}
.just-below{
	padding: 0px;
	opacity: 1;
	color: black;
}
.media{
	padding: 10px;
}
.round{
	border-radius: 100%;
}
.project-wrapper{
	margin: 30px;
	padding: 30px;
	background-color: #ddd;
}
.card{
	margin: 20px;
	padding: 20px;
}
.col{
	text-align: center;
}
#Work{
	background-color: #ddd;
	padding-bottom: 30px;
}
.cen{
	padding: 50px;
}
.contact-wrapper{
	background-color: black;
	color: white;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 55%;
}

/* Add a hover effect if you want */
.fa:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  /*border-radius: 100%;*/
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
